<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Criar Aluno</title>
  <link rel="stylesheet" href="/css/new.css">
</head>
<body>
  <h1 style="text-align: center;">Criar Novo Aluno</h1>
  <form action="/aluno" method="POST">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" id="nome" required>
    <button type="submit">Criar</button>
    <button class="voltar">
      <a href="/aluno">Voltar</a>
    </button>
  </form>
</body>
</html>
